__pycache__
/src/__pycache__
/src/core/__pycache__
*.htm
*.html
*.gz
*.pth
*.sav
*.json
*.jpg
*.log
*.pem
.DS_Store
.env
/.idea
/.vscode
/bin
/var
/src/__debug*
/etc/models/main/*
/training/*
/test/data/*
